.menu {
    position: absolute;
    bottom: 0px;
    width: 800px;
}

.menu .wrapper {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    transition: top 1s ease-out 500ms;
}

.menu-button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    outline: none;
}


div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

html, body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}